<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/header::head-fragment"></head>
<body id="blog">
<div th:replace="blog/header::nav-fragment"></div>
<div th:replace="blog/header::header-fragment"></div>
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-lg-8 am-u-sm-12">
        <main class="links-list">
            <h2 id="个人链接">外部链接</h2>
            <ul class="other-link">
                <li>
                    <a href="https://www.cnblogs.com/cky-2907183182/" style="color: #00a8c6">博客园</a>
                </li>
                <li>
                    <a href="https://github.com/tianqi-bucuo" style="color: #00a8c6">GitHub</a>
                </li>
                <li>
                    邮箱：<th:block th:text="${configurations.get('yourEmail')}"></th:block>
                </li>
            </ul>

        </main>
    </div>
</div>
<!-- 引入页脚footer-fragment -->
<footer th:replace="blog/footer::footer-fragment"></footer>
</body>
</html>